.div-wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .element-data-set-2 {
  border: 1px none;
  height: 7466px;
  width: 1920px;
}

.div-wrapper .about-data-sets-2 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.div-wrapper .header-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.div-wrapper .top-banner-6 {
  align-items: center;
  background-color: var(--basebase-lightest);
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 9px 40px 9px 30px;
  position: relative;
  width: 1920px;
}

.div-wrapper .banner-content-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  margin-right: -7px;
  position: relative;
}

.div-wrapper .us-flag-small-7 {
  height: 11px;
  position: relative;
  width: 16px;
}

.div-wrapper .content-11 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  position: relative;
  width: 1833px;
}

.div-wrapper .text-wrapper-168 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .here-s-how-you-know-13 {
  height: 16px;
  position: relative;
  width: 133px;
}

.div-wrapper .overlap-group-16 {
  height: 16px;
  position: relative;
  width: 131px;
}

.div-wrapper .text-wrapper-169 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .icon-73 {
  height: 16px;
  left: 115px;
  position: absolute;
  top: 0;
  width: 16px;
}

.div-wrapper .top-menu-6 {
  align-items: flex-end;
  align-self: stretch;
  background-color: #005ea2;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 4px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .right-side-menu-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.div-wrapper .nav-link-49 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 50px;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .frame-223 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-bottom: -2px;
  position: relative;
}

.div-wrapper .link-7 {
  color: var(--basebase-lightest);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .logo-and-search-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  padding: 19px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .logo-block-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.div-wrapper .AGID-title-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 0px;
  position: relative;
}

.div-wrapper .aging-independence-6 {
  color: #1b1b1b;
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 619px;
}

.div-wrapper .spacer {
  flex: 1;
  flex-grow: 1;
  height: 106px;
  position: relative;
}

.div-wrapper .quick-search-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 433.03px;
}

.div-wrapper .text-wrapper-170 {
  color: var(--basebase);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 326px;
}

.div-wrapper .search-7 {
  align-self: stretch;
  height: 32px;
  position: relative;
  width: 100%;
}

.div-wrapper .overlap-group-17 {
  height: 32px;
  position: relative;
  width: 433px;
}

.div-wrapper .vector-8 {
  height: 32px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 385px;
}

.div-wrapper .group-26 {
  background-image: url(../../../static/img/rectangle-59.png);
  background-size: 100% 100%;
  height: 32px;
  left: 384px;
  position: absolute;
  top: 0;
  width: 49px;
}

.div-wrapper .icon-74 {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.div-wrapper .main-menu-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 68px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.div-wrapper .line-13 {
  align-self: stretch;
  flex: 0 0 auto;
  margin-top: -1px;
  position: relative;
  width: 100%;
}

.div-wrapper .main-menu-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 0px 60px;
  position: relative;
}

.div-wrapper .menu-7 {
  align-items: center;
  display: inline-flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.div-wrapper .nav-link-50 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .frame-224 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.div-wrapper .section-7 {
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .group-27 {
  align-self: stretch;
  position: relative;
  width: 142px;
}

.div-wrapper .nav-link-51 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  height: 68px;
  justify-content: center;
  padding: 16px 16px 20px;
  position: relative;
}

.div-wrapper .icon-75 {
  height: 16px;
  position: relative;
  width: 16px;
}

.div-wrapper .group-28 {
  align-self: stretch;
  position: relative;
  width: 132px;
}

.div-wrapper .line-14 {
  align-self: stretch;
  flex: 0 0 auto;
  margin-bottom: -1px;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-225 {
  align-items: center;
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dfe1e2;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  padding: 10px 60px;
  position: relative;
  width: 100%;
}

.div-wrapper .home-programs-center-7 {
  color: #005ea2;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .splash-3 {
  align-items: center;
  background-color: var(--primaryprimary-darker);
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  justify-content: center;
  padding: 0px 0px 0px 212px;
  position: relative;
  width: 1920px;
}

.div-wrapper .content-12 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  padding: 50px 0px;
  position: relative;
}

.div-wrapper .frame-226 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.div-wrapper .about-data-sets-3 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-171 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-172 {
  align-self: stretch;
  color: var(--basebase-lightest);
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
  white-space: nowrap;
}

.div-wrapper .frame-227 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
  width: 100%;
}

.div-wrapper .frame-228 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 50px;
  position: relative;
  width: 404px;
}

.div-wrapper .frame-229 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 404px;
}

.div-wrapper .text-wrapper-173 {
  align-self: stretch;
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-174 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-list-font-family);
  font-size: var(--body-list-font-size);
  font-style: var(--body-list-font-style);
  font-weight: var(--body-list-font-weight);
  letter-spacing: var(--body-list-letter-spacing);
  line-height: var(--body-list-line-height);
  position: relative;
}

.div-wrapper .frame-230 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-175 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.div-wrapper .frame-231 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 1px;
  position: relative;
}

.div-wrapper .text-wrapper-176 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-bottom: -17px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 358px;
}

.div-wrapper .text-wrapper-177 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-bottom: -75px;
  position: relative;
}

.div-wrapper .frame-232 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-178 {
  color: var(--accent-coolaccent-cool-light);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 358px;
}

.div-wrapper .text-wrapper-179 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-180 {
  align-self: stretch;
  color: var(--full-white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-bottom: -51px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .frame-233 {
  align-items: center;
  align-self: stretch;
  background-color: #005ea2;
  display: flex;
  gap: 10px;
  padding: 0px 212px 0px 40px;
  position: relative;
  width: 798px;
}

.div-wrapper .frame-234 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
}

.div-wrapper .text-wrapper-181 {
  color: var(--full-white);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-235 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.div-wrapper .frame-236 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.div-wrapper .text-wrapper-182 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .text-wrapper-183 {
  color: var(--full-white);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-237 {
  align-items: flex-start;
  background-color: var(--content-bg);
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px 0px;
  position: relative;
}

.div-wrapper .data-set-summary-9 {
  align-items: flex-start;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--primaryprimary-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 1920px;
}

.div-wrapper .frame-238 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 30px;
  position: relative;
}

.div-wrapper .frame-239 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 50px 40px 50px 212px;
  position: relative;
}

.div-wrapper .frame-240 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-184 {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-185 {
  align-self: stretch;
  color: #005ea2;
  font-family: var(--h3-link-font-family);
  font-size: var(--h3-link-font-size);
  font-style: var(--h3-link-font-style);
  font-weight: var(--h3-link-font-weight);
  letter-spacing: var(--h3-link-letter-spacing);
  line-height: var(--h3-link-line-height);
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}

.div-wrapper .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-wrapper .text {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-186 {
  color: #3d4551;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.div-wrapper .text-wrapper-187 {
  color: var(--basebase-darker);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .quisque-at-purus-sit-2 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-list-font-family);
  font-size: var(--body-list-font-size);
  font-style: var(--body-list-font-style);
  font-weight: var(--body-list-font-weight);
  letter-spacing: var(--body-list-letter-spacing);
  line-height: var(--body-list-line-height);
  position: relative;
}

.div-wrapper .button-wrapper {
  align-items: center;
  background-color: #005ea2;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
}

.div-wrapper .button-3 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .frame-241 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--infoinfo-lighter);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 212px 50px 60px;
  position: relative;
  width: 798px;
}

.div-wrapper .text-wrapper-188 {
  align-self: stretch;
  color: var(--accent-coolaccent-cool-darker);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-189 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  position: relative;
}

.div-wrapper .text-wrapper-190 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
}

.div-wrapper .footer-7 {
  align-items: flex-start;
  background-color: var(--content-bg);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 50px 0px 0px;
  position: relative;
  width: 1920px;
}

.div-wrapper .return-to-top-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 64px;
  position: relative;
  width: 1920px;
}

.div-wrapper .return-to-top-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.div-wrapper .group-29 {
  align-self: stretch;
  margin-right: -2px;
  position: relative;
  width: 163px;
}

.div-wrapper .overlap-group-18 {
  background-image: url(../../../static/img/rectangle-827.png);
  background-size: 100% 100%;
  height: 64px;
  position: relative;
  width: 161px;
}

.div-wrapper .text-wrapper-191 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 21px;
  white-space: nowrap;
  width: 98px;
}

.div-wrapper .primary-links-7 {
  align-items: flex-start;
  background-color: var(--basebase-lightest);
  border-color: #a9aeb1;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 51px;
  padding: 0px 32px 0px 60px;
  position: relative;
  width: 1920px;
}

.div-wrapper .footer-primary-link-27 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 16px;
  position: relative;
}

.div-wrapper .text-wrapper-192 {
  color: #1b1b1b;
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .ACL-6 {
  align-items: center;
  background-color: var(--grayscalegray-10);
  display: flex;
  gap: 414px;
  height: 154px;
  justify-content: flex-end;
  padding: 20px 60px;
  position: relative;
  width: 1920px;
}

.div-wrapper .contact-8 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.div-wrapper .socials-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.div-wrapper .icon-wrapper-2 {
  align-items: flex-start;
  background-color: #0000001a;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 4px;
  position: relative;
}

.div-wrapper .icon-76 {
  height: 40px;
  position: relative;
  width: 40px;
}

.div-wrapper .agency-contact-7 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.div-wrapper .text-wrapper-193 {
  color: #1b1b1b;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .group-30 {
  height: 24px;
  position: relative;
  width: 246px;
}

.div-wrapper .frame-242 {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  position: relative;
}

.div-wrapper .text-wrapper-194 {
  color: #1b1b1b;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .site-map-7 {
  align-items: flex-start;
  background-color: var(--primaryprimary-dark);
  display: flex;
  flex: 0 0 auto;
  gap: 21px;
  padding: 64px 55px;
  position: relative;
  width: 1920px;
}

.div-wrapper .frame-243 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 282px;
}

.div-wrapper .column-46 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 275px;
}

.div-wrapper .column-47 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.div-wrapper .discover-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-195 {
  color: var(--full-white);
  font-family: var(--h4-font-family);
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  height: 18px;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 266px;
}

.div-wrapper .footer-link-41 {
  height: 18.5px;
  position: relative;
  width: 139px;
}

.div-wrapper .footer-link-42 {
  color: var(--full-white);
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.div-wrapper .frame-244 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  width: 285px;
}

.div-wrapper .identifier-default-7 {
  align-items: flex-start;
  background-color: var(--primaryprimary-darker);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 7px 44px;
  position: relative;
  width: 1920px;
}

.div-wrapper .frame-245 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 30px 0px;
  position: relative;
  width: 1815px;
}

.div-wrapper .frame-246 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.div-wrapper .frame-247 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.div-wrapper .text-wrapper-196 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.div-wrapper .text-wrapper-197 {
  color: var(--grayscalegray-10);
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 234px;
}

.div-wrapper .looking-for-u-s-7 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-198 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.div-wrapper .text-wrapper-199 {
  font-weight: 700;
  text-decoration: underline;
}
