.element-release-notes {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-release-notes .release-notes-wrapper {
  border: 1px none;
  height: 2676px;
  width: 1920px;
}

.element-release-notes .release-notes-4 {
  background-color: #ffffff;
  height: 2676px;
  position: relative;
}

.element-release-notes .header-3 {
  height: 348px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-release-notes .top-banner-2 {
  background-color: #f0f0f0;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-release-notes .banner-content-3 {
  height: 16px;
  left: 30px;
  position: relative;
  top: 9px;
  width: 1857px;
}

.element-release-notes .us-flag-small-3 {
  height: 11px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 16px;
}

.element-release-notes .content-6 {
  height: 16px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 1833px;
}

.element-release-notes .an-official-website-3 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-64 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .here-s-how-you-know-5 {
  height: 16px;
  left: 296px;
  position: absolute;
  top: 0;
  width: 133px;
}

.element-release-notes .overlap-group-7 {
  height: 17px;
  position: relative;
  top: -1px;
  width: 131px;
}

.element-release-notes .here-s-how-you-know-6 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-65 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .icon-30 {
  height: 16px;
  left: 115px;
  position: absolute;
  top: 1px;
  width: 16px;
}

.element-release-notes .top-menu-2 {
  background-color: #005ea2;
  height: 58px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 1920px;
}

.element-release-notes .right-side-menu-3 {
  height: 50px;
  left: 1690px;
  position: relative;
  top: 4px;
  width: 170px;
}

.element-release-notes .nav-link-17 {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}

.element-release-notes .frame-89 {
  height: 16px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 32px;
}

.element-release-notes .link-3 {
  color: #f0f0f0;
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-66 {
  color: #f0f0f0;
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .nav-link-18 {
  height: 50px;
  left: 84px;
  position: absolute;
  top: 0;
  width: 86px;
}

.element-release-notes .frame-90 {
  height: 16px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 54px;
}

.element-release-notes .logo-and-search-3 {
  height: 144px;
  left: 0;
  position: absolute;
  top: 92px;
  width: 1920px;
}

.element-release-notes .logo-block-2 {
  height: 78px;
  left: 60px;
  position: absolute;
  top: 33px;
  width: 619px;
}

.element-release-notes .AGID-title-2 {
  height: 78px;
  position: relative;
}

.element-release-notes .aging-independence-3 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 38px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 619px;
}

.element-release-notes .text-wrapper-67 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .quick-search-5 {
  height: 55px;
  left: 1427px;
  position: absolute;
  top: 45px;
  width: 433px;
}

.element-release-notes .quick-search-6 {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 326px;
}

.element-release-notes .text-wrapper-68 {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .search-3 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 433px;
}

.element-release-notes .overlap-group-8 {
  height: 32px;
  position: relative;
}

.element-release-notes .vector-3 {
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 384px;
}

.element-release-notes .group-9 {
  background-image: url(../img/rectangle-59-3@2x.png);
  background-size: 100% 100%;
  height: 32px;
  left: 384px;
  position: absolute;
  top: 0;
  width: 49px;
}

.element-release-notes .icon-31 {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.element-release-notes .main-menu-3 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 236px;
  width: 1920px;
}

.element-release-notes .overlap-5 {
  height: 68px;
  position: relative;
}

.element-release-notes .line-5 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-release-notes .div-4 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-release-notes .main-menu-4 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1209px;
}

.element-release-notes .menu-3 {
  height: 68px;
  left: 60px;
  position: relative;
  width: 1089px;
}

.element-release-notes .nav-link-19 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 77px;
}

.element-release-notes .frame-91 {
  height: 19px;
  left: 16px;
  position: relative;
  top: 22px;
  width: 45px;
}

.element-release-notes .section-3 {
  color: #565c65;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-69 {
  color: #565c65;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .group-10 {
  height: 68px;
  left: 107px;
  position: absolute;
  top: 0;
  width: 142px;
}

.element-release-notes .nav-link-20 {
  height: 68px;
}

.element-release-notes .frame-92 {
  height: 19px;
  left: 16px;
  position: relative;
  top: 22px;
  width: 110px;
}

.element-release-notes .nav-link-21 {
  height: 68px;
  left: 279px;
  position: absolute;
  top: 0;
  width: 180px;
}

.element-release-notes .frame-93 {
  height: 19px;
  left: 16px;
  position: relative;
  top: 22px;
  width: 148px;
}

.element-release-notes .icon-32 {
  height: 16px;
  left: 132px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.element-release-notes .nav-link-22 {
  height: 68px;
  left: 489px;
  position: absolute;
  top: 0;
  width: 127px;
}

.element-release-notes .frame-94 {
  height: 19px;
  left: 16px;
  position: relative;
  top: 22px;
  width: 95px;
}

.element-release-notes .icon-33 {
  height: 16px;
  left: 79px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.element-release-notes .nav-link-23 {
  height: 68px;
  left: 646px;
  position: absolute;
  top: 0;
  width: 138px;
}

.element-release-notes .frame-95 {
  height: 19px;
  left: 16px;
  position: relative;
  top: 22px;
  width: 106px;
}

.element-release-notes .nav-link-24 {
  height: 68px;
  left: 814px;
  position: absolute;
  top: 0;
  width: 113px;
}

.element-release-notes .frame-96 {
  height: 19px;
  left: 16px;
  position: relative;
  top: 22px;
  width: 81px;
}

.element-release-notes .icon-34 {
  height: 16px;
  left: 65px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.element-release-notes .group-11 {
  height: 68px;
  left: 957px;
  position: absolute;
  top: 0;
  width: 132px;
}

.element-release-notes .frame-97 {
  height: 19px;
  left: 16px;
  position: relative;
  top: 22px;
  width: 100px;
}

.element-release-notes .icon-35 {
  height: 16px;
  left: 84px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.element-release-notes .line-6 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 68px;
  width: 1920px;
}

.element-release-notes .frame-98 {
  background-color: #f0f0f0;
  height: 44px;
  left: 0;
  position: absolute;
  top: 304px;
  width: 1920px;
}

.element-release-notes .home-programs-center-3 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-70 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .intro {
  height: 311px;
  left: 0;
  position: absolute;
  top: 348px;
  width: 1920px;
}

.element-release-notes .left {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(158, 202, 225) 47.92%, rgb(0, 94, 162) 97.25%);
  height: 311px;
  position: relative;
}

.element-release-notes .state-profiles-wrapper {
  height: 47px;
  left: 60px;
  position: absolute;
  top: 50px;
  width: 1860px;
}

.element-release-notes .state-profiles {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-71 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .the-program-data-wrapper {
  height: 144px;
  left: 60px;
  position: absolute;
  top: 117px;
  width: 1125px;
}

.element-release-notes .the-program-data {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 162px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 1125px;
}

.element-release-notes .text-wrapper-72 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 162px;
}

.element-release-notes .topic-navigator {
  background-color: #f9f9f9;
  height: 1246px;
  left: 0;
  position: absolute;
  top: 659px;
  width: 1920px;
}

.element-release-notes .frame-99 {
  background-color: #f0f0f0;
  height: 1246px;
  left: 0;
  position: absolute;
  top: 0;
  width: 495px;
}

.element-release-notes .release-notes-5 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  white-space: nowrap;
  width: 415px;
}

.element-release-notes .text-wrapper-73 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .use-the-filters {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: 107px;
  white-space: nowrap;
  width: 415px;
}

.element-release-notes .text-wrapper-74 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .frame-100 {
  height: 67px;
  left: 60px;
  position: absolute;
  top: 152px;
  width: 415px;
}

.element-release-notes .date-input {
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 184px;
}

.element-release-notes .text-input {
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.element-release-notes .text-input-label {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 144px;
}

.element-release-notes .text-wrapper-75 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .input {
  background-image: url(../img/vector-4@2x.png);
  background-size: 100% 100%;
  height: 40px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 144px;
}

.element-release-notes .frame-101 {
  height: 40px;
  left: 144px;
  position: absolute;
  top: 27px;
  width: 40px;
}

.element-release-notes .icon-36 {
  height: 32px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 32px;
}

.element-release-notes .date-input-2 {
  height: 67px;
  left: 204px;
  position: absolute;
  top: 0;
  width: 184px;
}

.element-release-notes .input-2 {
  background-image: url(../img/vector-5@2x.png);
  background-size: 100% 100%;
  height: 40px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 144px;
}

.element-release-notes .topic-filter {
  background-color: #ffffff;
  border-radius: 10px 0px 0px 10px;
  height: 256px;
  left: 60px;
  position: absolute;
  top: 239px;
  width: 415px;
}

.element-release-notes .frame-102 {
  height: 216px;
  left: 112px;
  position: relative;
  top: 20px;
  width: 191px;
}

.element-release-notes .list-wrapper {
  height: 216px;
}

.element-release-notes .list {
  height: 216px;
  position: relative;
  width: 191px;
}

.element-release-notes .topic {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 191px;
}

.element-release-notes .data-element-name-2 {
  color: #565c65;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-76 {
  color: #565c65;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .icon-37 {
  height: 16px;
  left: 165px;
  position: absolute;
  top: 4px;
  width: 16px;
}

.element-release-notes .topic-2 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 191px;
}

.element-release-notes .topic-3 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 191px;
}

.element-release-notes .topic-4 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 191px;
}

.element-release-notes .topic-5 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 191px;
}

.element-release-notes .topic-6 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 191px;
}

.element-release-notes .topic-7 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 144px;
  width: 191px;
}

.element-release-notes .topic-8 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 168px;
  width: 191px;
}

.element-release-notes .topic-9 {
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 191px;
}

.element-release-notes .frame-103 {
  height: 1246px;
  left: 515px;
  position: absolute;
  top: 0;
  width: 1345px;
}

.element-release-notes .frame-104 {
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1345px;
}

.element-release-notes .types-and-sort {
  height: 36px;
  left: 10px;
  position: absolute;
  top: 20px;
  width: 1335px;
}

.element-release-notes .element-results {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 162px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-77 {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 162px;
}

.element-release-notes .view {
  height: 34px;
  left: 1052px;
  position: absolute;
  top: 0;
  width: 283px;
}

.element-release-notes .results-filter {
  background-color: #ffffff;
  border-radius: 3px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.element-release-notes .check-label {
  height: 24px;
  left: 18px;
  position: relative;
  top: 5px;
  width: 98px;
}

.element-release-notes .list-view {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-78 {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .icon-38 {
  height: 24px;
  left: 74px;
  position: absolute;
  top: 0;
  width: 24px;
}

.element-release-notes .check-label-wrapper {
  background-color: #005ea2;
  border-radius: 3px;
  height: 34px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 137px;
}

.element-release-notes .check-label-2 {
  height: 24px;
  left: 18px;
  position: relative;
  top: 5px;
  width: 101px;
}

.element-release-notes .grid-view {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-79 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .icon-39 {
  height: 24px;
  left: 77px;
  position: absolute;
  top: 0;
  width: 24px;
}

.element-release-notes .sort-by {
  background-color: #ffffff;
  height: 24px;
  left: 1207px;
  position: absolute;
  top: 76px;
  width: 138px;
}

.element-release-notes .sort-by-type {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 10px;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-80 {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .icon-40 {
  height: 24px;
  left: 114px;
  position: absolute;
  top: 0;
  width: 24px;
}

.element-release-notes .frame-105 {
  height: 1026px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 1345px;
}

.element-release-notes .column-14 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1345px;
}

.element-release-notes .topic-card-grid {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  height: 215px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 435px;
}

.element-release-notes .frame-106 {
  height: 215px;
  position: relative;
}

.element-release-notes .frame-107 {
  height: 126px;
  left: 20px;
  position: absolute;
  top: 10px;
  width: 375px;
}

.element-release-notes .frame-108 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.element-release-notes .release-notes-6 {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  height: 15px;
  left: 0;
  letter-spacing: 0.5px;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-81 {
  color: #71767a;
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
}

.element-release-notes .version-3 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 375px;
}

.element-release-notes .text-wrapper-82 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .brief-dataset {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: 53px;
  white-space: nowrap;
  width: 375px;
}

.element-release-notes .frame-109 {
  height: 44px;
  left: 20px;
  position: absolute;
  top: 151px;
  width: 375px;
}

.element-release-notes .frame-110 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 57px;
}

.element-release-notes .span-wrapper-19 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  height: 15px;
  left: 0;
  letter-spacing: 0.5px;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-83 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
}

.element-release-notes .span-wrapper-20 {
  color: #3d4551;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.element-release-notes .frame-111 {
  height: 44px;
  left: 107px;
  position: absolute;
  top: 0;
  width: 146px;
}

.element-release-notes .topic-card-grid-2 {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  height: 215px;
  left: 455px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 435px;
}

.element-release-notes .topic-card-grid-3 {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  height: 215px;
  left: 910px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 435px;
}

.element-release-notes .column-15 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 235px;
  width: 1345px;
}

.element-release-notes .column-16 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 470px;
  width: 1345px;
}

.element-release-notes .column-17 {
  height: 215px;
  left: 0;
  position: absolute;
  top: 705px;
  width: 1345px;
}

.element-release-notes .load-more {
  height: 86px;
  left: 0;
  position: absolute;
  top: 940px;
  width: 1345px;
}

.element-release-notes .load-more-2 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 300;
  left: 618px;
  letter-spacing: 0;
  line-height: 162px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-84 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 162px;
}

.element-release-notes .icon-41 {
  height: 50px;
  left: 648px;
  position: absolute;
  top: 36px;
  width: 50px;
}

.element-release-notes .footer-3 {
  background-color: #f9f9f9;
  height: 771px;
  left: 0;
  position: absolute;
  top: 1905px;
  width: 1920px;
}

.element-release-notes .return-to-top-6 {
  background-color: #ffffff;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-release-notes .return-to-top-7 {
  background-color: #f9f9f9;
  height: 64px;
}

.element-release-notes .group-12 {
  height: 64px;
  left: 1759px;
  position: relative;
  width: 163px;
}

.element-release-notes .overlap-group-9 {
  background-image: url(../img/rectangle-827-3@2x.png);
  background-size: 100% 100%;
  height: 64px;
  position: relative;
  width: 161px;
}

.element-release-notes .return-to-top-8 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 98px;
}

.element-release-notes .text-wrapper-85 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .primary-links-3 {
  background-color: #f0f0f0;
  height: 51px;
  left: 0;
  position: absolute;
  top: 64px;
  width: 1920px;
}

.element-release-notes .footer-primary-link-7 {
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 75px;
}

.element-release-notes .span-wrapper-21 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-86 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .footer-primary-link-8 {
  height: 51px;
  left: 135px;
  position: absolute;
  top: 0;
  width: 131px;
}

.element-release-notes .footer-primary-link-9 {
  height: 51px;
  left: 266px;
  position: absolute;
  top: 0;
  width: 88px;
}

.element-release-notes .footer-primary-link-10 {
  height: 51px;
  left: 354px;
  position: absolute;
  top: 0;
  width: 93px;
}

.element-release-notes .footer-primary-link-11 {
  height: 51px;
  left: 447px;
  position: absolute;
  top: 0;
  width: 96px;
}

.element-release-notes .ACL-2 {
  background-color: #e6e6e6;
  height: 154px;
  left: 0;
  position: absolute;
  top: 115px;
  width: 1920px;
}

.element-release-notes .contact-3 {
  height: 114px;
  left: 1588px;
  position: relative;
  top: 20px;
  width: 272px;
}

.element-release-notes .socials-3 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.element-release-notes .facebook-2 {
  background-color: #0000001a;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.element-release-notes .icon-42 {
  height: 40px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 40px;
}

.element-release-notes .twitter-3 {
  background-color: #0000001a;
  height: 48px;
  left: 56px;
  position: absolute;
  top: 0;
  width: 48px;
}

.element-release-notes .youtube-3 {
  background-color: #0000001a;
  height: 48px;
  left: 112px;
  position: absolute;
  top: 0;
  width: 48px;
}

.element-release-notes .instagram-3 {
  background-color: #0000001a;
  height: 48px;
  left: 168px;
  position: absolute;
  top: 0;
  width: 48px;
}

.element-release-notes .rss-3 {
  background-color: #0000001a;
  height: 48px;
  left: 224px;
  position: absolute;
  top: 0;
  width: 48px;
}

.element-release-notes .agency-contact-3 {
  height: 54px;
  left: 26px;
  position: absolute;
  top: 60px;
  width: 246px;
}

.element-release-notes .contact-us-3 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-87 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .group-13 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 246px;
}

.element-release-notes .frame-112 {
  height: 24px;
  position: relative;
}

.element-release-notes .element-4 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-88 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 150px;
}

.element-release-notes .info-gov-gov-3 {
  color: #1b1b1b;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 147px;
  letter-spacing: 0;
  line-height: 150px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .site-map-3 {
  background-color: #1a4480;
  height: 329px;
  left: 0;
  position: absolute;
  top: 269px;
  width: 1920px;
}

.element-release-notes .frame-113 {
  height: 201px;
  left: 55px;
  position: absolute;
  top: 64px;
  width: 282px;
}

.element-release-notes .column-18 {
  height: 201px;
  width: 275px;
}

.element-release-notes .column-19 {
  height: 201px;
}

.element-release-notes .column-20 {
  height: 201px;
  width: 266px;
}

.element-release-notes .discover-11 {
  height: 201px;
  position: relative;
}

.element-release-notes .span-wrapper-22 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 266px;
}

.element-release-notes .text-wrapper-89 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .footer-link-13 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 139px;
}

.element-release-notes .footer-link-14 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.element-release-notes .text-wrapper-90 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.element-release-notes .footer-link-15 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 139px;
}

.element-release-notes .footer-link-16 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 139px;
}

.element-release-notes .footer-link-17 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 122px;
  width: 139px;
}

.element-release-notes .footer-link-18 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 152px;
  width: 139px;
}

.element-release-notes .footer-link-19 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 182px;
  width: 139px;
}

.element-release-notes .frame-114 {
  height: 48px;
  left: 358px;
  position: absolute;
  top: 64px;
  width: 285px;
}

.element-release-notes .column-21 {
  height: 48px;
  width: 275px;
}

.element-release-notes .discover-12 {
  height: 48px;
  position: relative;
}

.element-release-notes .frame-115 {
  height: 110px;
  left: 664px;
  position: absolute;
  top: 64px;
  width: 282px;
}

.element-release-notes .column-22 {
  height: 110px;
  width: 275px;
}

.element-release-notes .column-23 {
  height: 110px;
}

.element-release-notes .discover-13 {
  height: 110px;
  position: relative;
  width: 275px;
}

.element-release-notes .frame-116 {
  height: 110px;
  left: 967px;
  position: absolute;
  top: 64px;
  width: 285px;
}

.element-release-notes .discover-14 {
  height: 110px;
  position: relative;
}

.element-release-notes .frame-117 {
  height: 170px;
  left: 1273px;
  position: absolute;
  top: 64px;
  width: 285px;
}

.element-release-notes .column-24 {
  height: 170px;
  width: 275px;
}

.element-release-notes .discover-15 {
  height: 170px;
  position: relative;
}

.element-release-notes .identifier-default-3 {
  background-color: #162e51;
  height: 173px;
  left: 0;
  position: absolute;
  top: 598px;
  width: 1920px;
}

.element-release-notes .frame-118 {
  height: 159px;
  left: 44px;
  position: relative;
  top: 7px;
  width: 1815px;
}

.element-release-notes .frame-119 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 936px;
}

.element-release-notes .frame-120 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 234px;
}

.element-release-notes .span-wrapper-23 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 234px;
}

.element-release-notes .text-wrapper-91 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .frame-121 {
  height: 56px;
  left: 234px;
  position: absolute;
  top: 0;
  width: 234px;
}

.element-release-notes .span-wrapper-24 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
  white-space: nowrap;
  width: 234px;
}

.element-release-notes .frame-122 {
  height: 56px;
  left: 468px;
  position: absolute;
  top: 0;
  width: 234px;
}

.element-release-notes .privacy-policy-3 {
  color: #e6e6e6;
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 702px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 234px;
}

.element-release-notes .looking-for-u-s-3 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 109px;
  white-space: nowrap;
  width: 1815px;
}

.element-release-notes .text-wrapper-92 {
  color: #ffffff;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.element-release-notes .text-wrapper-93 {
  font-weight: 700;
}
